.container{
    background-color:rgb(222, 238, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 50%;
    min-height: 800px;   

}
h1{
    font-size: 40px;
    font-weight: 100;
    text-align: center;
}
h2{
    text-align: center;
}


.list{
    font-size: 20px;
    
}

.ordered{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 0, 0);

}

.unordered{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 255, 0);   
}

.img{
    max-width:600px;
    height: auto;
    display: block;
    margin: auto;
}

.goback{
    background-color: rgb(95, 204, 231);
    border-radius: 5px;
    color: rgb(189, 26, 26);
    font-size: 30px;
}